.logo-box {position: absolute;left: 30px;top: 10px;cursor: pointer;color: #000;}
.logo-box img {width: 50px;height: 50px;vertical-align: middle;}
.logo-box .logo-text {display: inline-block;vertical-align: middle;font-size: 24px;font-weight: 400;}
#main {padding-bottom: 100px;}
#main h2 {font-size: 1.6rem;}
#main h3 {font-size: 1.25rem;}

.main-box .markdown-section{ padding: 30px 20px;}
@media screen and (max-width: 800px) {
	.logo-box {display: none;}
	.main-box .markdown-section{max-width: 1000px;}
}
