			<div class="doc-right-more-item">
				<div class="ad-box">
					<div class="ad-title">
						<span class="ad-tips">推荐</span>
						<span class="ad-tips ad-close">关闭</span>
					</div>
					<div class="top-ad-box" style="margin-bottom: 12px;">
						<a href="https://sa-max.cn?way=st_r" target="_blank">
							<div class="mad-bg-box">
								<div class="mad-context-box">
									<img class="mad-img" src="/big-file/contact/sa-token-syb-3.png" alt="" />
									<span class="mad-text">
										<b>Sa-Token 商业版：轻松搭建 SSO 单点登录、OAuth2.0 统一认证、API Key 认证。全源码交付、可二开。</b>
									</span>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="ew-wa">
					<p>当前博客已开放版权，所有人均可免费转载，无需联系 Sa-Token 团队获取授权。只需要在转载时保留底部 Sa-Token 官网链接 + 开源仓库链接即可。</p>
				</div>
			</div>
